/*@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);
*/
body {
	background: #555555;
	font-size: 15px;
}

#headerbar
{
  background: rgb(35,36,40);
  opacity: 0.7;
  top:0;
  height: 80px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 0;
  box-shadow: 1px 10px 10px black;
}

#search-wrap {
  margin: 25px 200px;
  display: inline-block;
  position: relative;
  height: 40px;
  float: right;
  padding: 0;
}

#vanessaSearch {
  height: 25px;
  font-size: 20px;
  display: inline-block;
  font-weight: 40;
  border: none;
  outline: none;
  color: #FFFFFF;
  padding: 10px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  animation: reverse;
  cursor: pointer;
}

#vanessaSearch:focus:hover {
  border-bottom: 1px solid #FFFFFF;
}

#vanessaSearch:focus {
  width: 500px;
  z-index: 1;
  border-bottom: 1px solid #FFFFFF;
  cursor: text;
}
#search-submit {
  height: 40px;
  width: 40px;
  display: inline-block;
  float: right;
  background: url('images/search.png') center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity .4s ease;
}

#search-submit:hover {
  opacity: 0.8;
}