body
{
	background-color: yellow;
	opacity: 0.8;
	color: #191F16;
	font-family: Tahoma,Geneva,sans-serif;
	font-weight: 600;
	text-rendering: optimizeLegibility;
	line-height: 1;
}
#header
{
	background: #52CF0A;
	opacity: 0.7;
	height: 60px;
	left: 0;
	min-width: 150px;
	position: fixed;
	right: 0;
	z-index: 500;
	display: block;
}
#main-navigation
{
	margin-left: 300px;
	float: left;
	color: #191F16;
	display: block;

}
a
{
	text-decoration: none;
}
#header .btn:not(.ac-btn)
{
	color: #191F16;
	font-size: 25px;
	font-weight: 500;
	margin: 20px 15px 10px 10px;
	vertical-align: top;
	height: 35px;
	line-height: 12px;
}
.btn
{
	cursor: pointer;
	display: inline-block;
}

#logo
{
	width: 200px;
	margin: 10px 0 10px 0;
}

#header .menu > strong
{
	padding-right: 15px;
	position: relative;
}
#header .menu > strong::after
{
	content: '';
	height: 10px;
	margin-top: -2px;
	position: absolute;;
	right: 0;
	top: 50%;
	width: 5px;
}
#header .btn > strong
{
	border-radius: 0;
	cursor: pointer;
	display: block;
	font-size: 25px;
	font-weight: 500;
	line-height: 12px;
	padding: 0px;
}
strong
{
	vertical-align: baseline;;
}
.drop
{
	cursor: default;
	display: block;
	margin-left: -20px;
	position: absolute;
	top: 100%;
	width: 200px;
	font size: 25px;
	font-weight: 500
	sfont-family: Tahoma,Geneva,sans-serif;
}