body
{
	background: #191F16;
	color: #333333;
}
#headerbar
{
	background: #52CF0A;
	opacity: 0.7;
	height: 60px;
	left: 0;
	min-width: 150px;
	position: fixed;
	right: 0;
	display: block;
}

.head:after
{
	display: block;
	clear: both;
}
.menu-wrap
{
	width: 100%;
	background: #52CF0A;
	text-decoration: none;	
}
.menu
{
	width: 1000px;
	margin: 10px auto;
}
.menu li
{
	margin: 0px;
	list-style: none;
	font-family: Tahoma,Geneva,sans-serif;
}
.menu a
{
	transition: all linear 0.10s;
	color: #333333;
	text-decoration: none;
	font-size: 23px;
}
.menu li:hover >a, .menu .current-item >a
{
	text-decoration: none;
	color:#000000;
	font-size: 26px;
}
.menu .dropdown
{
	font-size: 18px;
	line-height: 0%;
}
.menu > ul > li
{
	float: left;
	display: inline-block;
	position: relative;
	font-size: 20px;
}
.menu > ul > li > a
{
	padding: 6px 40px;
	display: inline-block;
	
}
.menu > ul > li:hover > a, .menu > ul > .current-item > a
{
	background: transparent;
}
.menu li:hover .sub-menu
{
	z-index:0;
	opacity:0.8;
}
.sub-menu
{
	width: 140%;
	padding: 5px 0px;
	position: absolute;
	top: 100%;
	left: 0px;
	z-index: 0;
	opacity: 0;
	transition:opacity linear 0.15s;
	background:#52CF0A;

}
.sub-menu li
{
	display:block;
	font-size: 20px;
}
.sub-menu li a
{
	padding: 10px 30px;
	display:block;
}
.sub-menu li a:hover, .sub-menu .current-item a
{
	background: #191F16;
	color: #52CF0A;
}